doc/latex/ProjectReport.synctex.gz
doc/latex/ProjectReport.log
doc/latex/ProjectReport.fls
doc/latex/ProjectReport.fdb_latexmk
doc/latex/ProjectReport.bbl
doc/latex/ProjectReport.aux
doc/latex/ProjectReport.pdf
doc/latex/ProjectReport.blg
doc/.DS_Store
src/.DS_Store
.continue/.DS_Store
.DS_Store
